# Analysis of EBA Transparency Exercise Datasets

## Introduction

This notebook explores the datasets provided by the European Banking Authority (EBA) under their EU-wide Transparency Exercise, accessible [here](https://www.eba.europa.eu/risk-analysis-and-data/eu-wide-transparency-exercise). These datasets offer a comprehensive view of the banking sector's assets and risks, which is invaluable for financial analysis and regulatory assessment.

### Notes

- **Understand the Structure**: We will examine the structure and content of the EBA's credit risk dataset to understand the type of data provided and its potential applications.
- **Ensure Data Integrity**: Although these datasets are generally user-friendly, they require additional checks to validate data integrity and reliability. You should compare a sample of your intermediary results with the results presented by the EBA's interactive tool, specifically the visualizations found [here](https://tools.eba.europa.eu/interactive-tools/2023/powerbi/837203/tr23_visualisation_page5.html), to confirm consistency and understand any discrepancies.
- **Download the credit risk datasets from here**: https://www.eba.europa.eu/assets/TE2023/Full_database/837203/tr_cre.csv

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

# Settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

pd.options.display.float_format = '{:,.2f}'.format

#### A. Create base table

In [25]:
# Import mappning tables
exposures = pd.read_excel('metadata_tr_2023.xlsx', sheet_name='Exposures')
portfolio = pd.read_excel('metadata_tr_2023.xlsx', sheet_name='Portfolio')
fin_instrument = pd.read_excel('metadata_tr_2023.xlsx', sheet_name='Financial_Instruments')
assets_stages = pd.read_excel('metadata_tr_2023.xlsx', sheet_name='ASSETS_Stages')
assets_fv = pd.read_excel('metadata_tr_2023.xlsx', sheet_name='ASSETS_FV')
institutions = pd.read_excel('metadata_tr_2023.xlsx', sheet_name='List of institutions')

# import core dataset
df = pd.read_csv('tr_oth_2023.csv', low_memory=False)

In [26]:
# Create final dataset
result = pd.merge(df, exposures, on='Exposure', how='left')
result = pd.merge(result, fin_instrument, on='Financial_instruments', how='left')
result = pd.merge(result, assets_stages, on='ASSETS_Stages', how='left')
result = pd.merge(result, assets_fv, on='ASSETS_FV', how='left')
result = pd.merge(result, institutions, on='LEI_Code', how='left')

result.head()

,LEI_Code,NSA,Period,Item,Label,ASSETS_FV,ASSETS_Stages,Exposure,Financial_instruments,Amount,Fin_end_year,n_quarters,Footnote,Row,Column,Sheet,exposure_label,Financial_instruments_label,ASSETS_Stages_label,ASSETS_FV_label,institution_country,Desc_country,Name,Finrep,Fin_year_end
0,0W2PZJM8XOY22M4GG883,DE,202209,2321001,"Cash, cash balances at central banks and other demand deposits",0,0,0,0,"22,438.22",0,3,NaN,10,5,Assets,Total / No breakdown,Total / No breakdown,No breakdown by ASSETS_Stages,No breakdown by ASSETS_FV,DE,Germany,DekaBank Deutsche Girozentrale,Yes - IFRS,31/12
1,0W2PZJM8XOY22M4GG883,DE,202209,2321002,Financial assets held for trading,0,0,0,0,"16,279.12",0,3,NaN,11,5,Assets,Total / No breakdown,Total / No breakdown,No breakdown by ASSETS_Stages,No breakdown by ASSETS_FV,DE,Germany,DekaBank Deutsche Girozentrale,Yes - IFRS,31/12
2,0W2PZJM8XOY22M4GG883,DE,202209,2321002,Financial assets held for trading,1,0,0,0,"3,956.74",0,3,NaN,11,6,Assets,Total / No breakdown,Total / No breakdown,No breakdown by ASSETS_Stages,Fair value hierarchy: Level 1,DE,Germany,DekaBank Deutsche Girozentrale,Yes - IFRS,31/12
3,0W2PZJM8XOY22M4GG883,DE,202209,2321002,Financial assets held for trading,2,0,0,0,"11,736.86",0,3,NaN,11,7,Assets,Total / No breakdown,Total / No breakdown,No breakdown by ASSETS_Stages,Fair value hierarchy: Level 2,DE,Germany,DekaBank Deutsche Girozentrale,Yes - IFRS,31/12
4,0W2PZJM8XOY22M4GG883,DE,202209,2321002,Financial assets held for trading,3,0,0,0,585.52,0,3,NaN,11,8,Assets,Total / No breakdown,Total / No breakdown,No breakdown by ASSETS_Stages,Fair value hierarchy: Level 3,DE,Germany,DekaBank Deutsche Girozentrale,Yes - IFRS,31/12

In [27]:
result['Label'].unique()

array(['Cash, cash balances at central banks and other demand deposits',
       'Financial assets held for trading',
       'Non-trading financial assets mandatorily at fair value through profit or loss',
       'Financial assets designated at fair value through profit or loss',
       'Financial assets at fair value through other comprehensive income',
       'Financial assets at amortised cost',
       'Derivatives – Hedge accounting',
       'Fair value changes of the hedged items in portfolio hedge of interest rate risk',
       'Other assets', 'Total Assets',
       'Gross carrying amount: Financial assets at fair value through other comprehensive income, Debt securities',
       'Gross carrying amount: Financial assets at fair value through other comprehensive income, Loans and advances',
       'Gross carrying amount: Financial assets at amortised cost, Debt securities',
       'Gross carrying amount: Financial assets at amortised cost, Loans and advances',
       'Accumulated impairment: Financial assets at fair value through other comprehensive income, Debt securities',
       'Accumulated impairment: Financial assets at fair value through other comprehensive income, Loans and advances',
       'Accumulated impairment: Financial assets at amortised cost, Debt securities',
       'Accumulated impairment: Financial assets at amortised cost, Loans and advances',
       'OWN FUNDS',
       'COMMON EQUITY TIER 1 CAPITAL (net of deductions and after applying transitional adjustments)',
       'Capital instruments eligible as CET1 Capital (including share premium and net own capital instruments)',
       'Retained earnings', 'Accumulated other comprehensive income',
       'Other Reserves', 'Funds for general banking risk',
       'Minority interest given recognition in CET1 capital',
       'Adjustments to CET1 due to prudential filters',
       '(-) Intangible assets (including Goodwill)',
       '(-) DTAs that rely on future profitability and do not arise from temporary differences net of associated DTLs',
       '(-) IRB shortfall of credit risk adjustments to expected losses',
       '(-) Defined benefit pension fund assets',
       '(-) Reciprocal cross holdings in CET1 Capital',
       '(-) Excess deduction from AT1 items over AT1 Capital',
       '(-) Deductions related to assets which can alternatively be subject to a 1.250% risk weight',
       '(-) Deductions related to assets which can alternatively be subject to a 1.250% risk weight - Of which: from securitisation positions (-)',
       '(-) Holdings of CET1 capital instruments of financial sector entities where the institiution does not have a significant investment',
       '(-) Deductible DTAs that rely on future profitability and arise from temporary differences',
       '(-) Holdings of CET1 capital instruments of financial sector entities where the institiution has a significant investment',
       '(-) Amount exceding the 17.65% threshold',
       '(-) Additional deductions of CET1 Capital due to Article 3 CRR',
       'CET1 capital elements or deductions - other',
       'Transitional adjustments',
       'Transitional adjustments due to grandfathered CET1 Capital instruments (+/-)',
       'Transitional adjustments due to additional minority interests (+/-)',
       'Other transitional adjustments to CET1 Capital (+/-)',
       'ADDITIONAL TIER 1 CAPITAL (net of deductions and after transitional adjustments)',
       'Additional Tier 1 Capital instruments',
       '(-) Excess deduction from T2 items over T2 capital',
       'Other Additional Tier 1 Capital components and deductions',
       'Additional Tier 1 transitional adjustments',
       'TIER 1 CAPITAL (net of deductions and after transitional adjustments)',
       'TIER 2 CAPITAL (net of deductions and after transitional adjustments)',
       'Tier 2 Capital instruments',
       'Other Tier 2 Capital components and deductions',
       'Tier 2 transitional adjustments', 'TOTAL RISK EXPOSURE AMOUNT',
       'TOTAL RISK EXPOSURE AMOUNT - Of which: Transitional adjustments included',
       'COMMON EQUITY TIER 1 CAPITAL RATIO (transitional period)',
       'TIER 1 CAPITAL RATIO (transitional period)',
       'TOTAL CAPITAL RATIO (transitional period)',
       'COMMON EQUITY TIER 1 CAPITAL (fully loaded)',
       'COMMON EQUITY TIER 1 CAPITAL RATIO (fully loaded)',
       'Adjustments to CET1 due to IFRS 9 transitional arrangements',
       'Adjustments to AT1 due to IFRS 9 transitional arrangements',
       'Adjustments to T2 due to IFRS 9 transitional arrangements',
       'Adjustments included in RWAs due to IFRS 9 transitional arrangements',
       '(-) Insufficient coverage for non-performing exposures',
       '(-) Minimum value commitment shortfalls',
       '(-) Other foreseeable tax charges',
       'Common Equity Tier\xa01 (CET1) capital - transitional period',
       'Common Equity Tier\xa01 (CET1) capital - transitional period -  as if IFRS\xa09 or analogous ECLs transitional arrangements had not been applied',
       'Tier\xa01 capital  - transitional period',
       'Tier\xa01 capital as if IFRS\xa09 or analogous ECLs transitional arrangements had not been applied - transitional definition',
       'Total capital  - transitional period',
       'Total capital - transitional period - as if IFRS\xa09 or analogous ECLs transitional arrangements had not been applied',
       'Total risk exposure amount',
       'Total risk exposure amount as if IFRS\xa09 or analogous ECLs transitional arrangements had not been applied',
       'Common Equity Tier\xa01 (as a percentage of risk exposure amount) - transitional definition',
       'Common Equity Tier\xa01 (as a percentage of risk exposure amount) - transitional definition - as if IFRS\xa09 or analogous ECLs transitional arrangements had not been applied',
       'Tier\xa01 (as a percentage of risk exposure amount) - transitional definition',
       'Tier\xa01 (as a percentage of risk exposure amount) as if IFRS\xa09 or analogous ECLs transitional arrangements had not been applied',
       'Total capital (as a percentage of risk exposure amount) - transitional definition',
       'Total capital (as a percentage of risk exposure amount) as if IFRS\xa09 or analogous ECLs transitional arrangements had not been applied',
       'Leverage ratio total exposure measure - using a transitional definition of Tier 1 capital',
       'Leverage ratio - using a transitional definition of Tier 1 capital',
       'Tier 1 capital - transitional definition (numerator of Leverage ratio)',
       'Tier 1 capital - fully phased-in definition',
       'Total leverage ratio exposures - using a transitional definition of Tier 1 capital',
       'Total leverage ratio exposures - using a fully phased-in definition of Tier 1 capital',
       'Leverage ratio - using a fully phased-in definition of Tier 1 capital',
       'Financial liabilities held for trading',
       'Trading financial liabilities1',
       'Financial liabilities designated at fair value through profit or loss',
       'Financial liabilities measured at amortised cost',
       'Non-trading non-derivative financial liabilities measured at a cost-based method1',
       'Provisions', 'Tax liabilities',
       'Share capital repayable on demand', 'Other liabilities',
       'Liabilities included in disposal groups classified as held for sale',
       'Haircuts for trading liabilities at fair value1',
       'TOTAL LIABILITIES',
       'Financial liabilities -  by instrument and by counterparty sector',
       'TOTAL EQUITY', 'TOTAL EQUITY AND TOTAL LIABILITIES',
       'Interest income',
       'Interest income - Of which debt securities income',
       'Interest income - Of which loans and advances income',
       'Interest expenses',
       'Interest expenses - (Of which deposits expenses)',
       'Interest expenses - (Of which debt securities issued expenses)',
       'Expenses on share capital repayable on demand', 'Dividend income',
       'Net Fee and commission income',
       'Gains or (-) losses on derecognition of financial assets and liabilities not measured at fair value through profit or loss_ and of non financial assets_ net',
       'Gains or (-) losses on financial assets and liabilities held for trading_ net',
       'Gains or (-) losses on financial assets and liabilities designated at fair value through profit or loss_ net',
       'Gains or (-) losses from hedge accounting_ net',
       'Exchange differences [gain or (-) loss]_ net',
       'Net other operating income /(expenses)',
       'TOTAL OPERATING INCOME_ NET', '(Administrative expenses)',
       '(Depreciation)', '(Provisions or (-) reversal of provisions)',
       '(Provisions or (-) reversal of provisions) - (Commitments and guarantees given)',
       '(Provisions or (-) reversal of provisions) - (Other provisions)',
       '(Other provisions) - Of which pending legal issues and tax litigation',
       '(Other provisions) - Of which restructuring',
       '(Impairment or (-) reversal of impairment on financial assets not measured at fair value through profit or loss)',
       '(Financial assets at fair value through other comprehensive income)',
       '(Financial assets at amortised cost)',
       '(Impairment or (-) reversal of impairment of investments in subsidaries_ joint ventures and associates and on non-financial assets)',
       '(Impairment or (-) reversal of impairment of investments in subsidaries_ joint ventures and associates and on non-financial assets) - (of which Goodwill)',
       'Negative goodwill recognised in profit or loss',
       'Share of the profit or (-) loss of investments in subsidaries_ joint ventures and associates',
       'Profit or (-) loss from non-current assets and disposal groups classified as held for sale not qualifying as discontinued operations',
       'PROFIT OR (-) LOSS BEFORE TAX FROM CONTINUING OPERATIONS',
       'PROFIT OR (-) LOSS AFTER TAX FROM CONTINUING OPERATIONS',
       'Profit  or (-) loss after tax from discontinued operations',
       'PROFIT OR (-) LOSS FOR THE YEAR',
       'PROFIT OR (-) LOSS FOR THE YEAR - Of which attributable to owners of the parent',
       '(Increases or (-) decreases of the fund for general banking risks, net)',
       'Modification gains or (-) losses, net',
       '(Cash contributions to resolution funds and deposit guarantee schemes)',
       '(Provisions or (-) reversal of provisions) - (payment commitments to resolution funds and deposit guarantee schemes)',
       'Credit risk (excluding CCR and Securitisations)',
       'Credit risk (excluding CCR and Securitisations): Of which the standardised approach',
       'Credit risk (excluding CCR and Securitisations): Of which the foundation IRB (FIRB) approach',
       'Credit risk (excluding CCR and Securitisations): Of which the advanced IRB (AIRB) approach',
       'Credit risk (excluding CCR and Securitisations): Of which equity IRB',
       'Counterparty credit risk (CCR, excluding CVA)',
       'Credit valuation adjustment - CVA', 'Settlement risk',
       'Securitisation exposures in the banking book (after the cap)',
       'Position, foreign exchange and commodities risks (Market risk)',
       'Position, foreign exchange and commodities risks (Market risk): Of which the standardised approach',
       'Position, foreign exchange and commodities risks (Market risk): Of which IMA',
       'Of which securitisations and resecuritisations in the trading book',
       'Large exposures in the trading book', 'Operational risk',
       'Operational risk : Of which basic indicator approach',
       'Operational risk : Of which standardised approach',
       'Operational risk : Of which advanced measurement approach',
       'Other risk exposure amounts', 'Total Risk exposure amount'],
      dtype=object)

### B. Compare stage 2 to stage 3

In [33]:
# Create base table
idx_1 = result['Label'].isin(['Accumulated impairment: Financial assets at amortised cost, Loans and advances'])
idx_2 = result['Period'] == 202306

pivot_df = pd.pivot_table(result[idx_1 & idx_2], 
                          values='Amount', 
                          index=['Name'], 
                          columns=['ASSETS_Stages'], 
                          aggfunc="sum", 
                          margins=True,
                          fill_value=0).reset_index()

pivot_df.sort_values(by=pivot_df.columns[-1], ascending=True).head(40)

ASSETS_Stages,Name,1,2,3,All
112,All,"-31,895.95","-54,005.76","-148,668.11","-234,569.82"
21,"Banco Santander, S.A.","-3,941.48","-5,224.76","-14,130.64","-23,296.88"
53,Groupe Crédit Agricole,"-2,986.88","-5,806.15","-12,265.42","-21,058.45"
15,BNP Paribas,"-2,050.02","-2,476.04","-13,272.16","-17,798.22"
52,Groupe BPCE,"-1,310.86","-3,993.91","-8,717.38","-14,022.15"
39,Confédération Nationale du Crédit Mutuel,"-1,920.20","-2,124.87","-7,309.19","-11,354.26"
19,"Banco Bilbao Vizcaya Argentaria, S.A.","-2,143.18","-2,021.14","-7,106.52","-11,270.84"
106,"UNICREDIT, SOCIETA' PER AZIONI","-1,396.87","-3,856.85","-5,792.77","-11,046.49"
99,Société générale S.A.,"-1,052.14","-2,036.60","-7,578.85","-10,667.59"
61,Intesa Sanpaolo S.p.A.,-780.01,"-1,671.22","-4,973.36","-7,424.59"
36,"CaixaBank, S.A.","-1,178.01","-1,334.97","-4,638.10","-7,151.07"
59,ING Groep N.V.,-546.58,"-1,488.81","-3,638.00","-5,673.38"
42,DEUTSCHE BANK AKTIENGESELLSCHAFT,-557.41,-688.77,"-3,835.56","-5,081.73"
48,Erste Group Bank AG,-380.48,"-1,477.63","-2,035.00","-3,893.11"
58,ICCREA BANCA SPA,-482.20,-448.50,"-2,897.06","-3,827.77"
33,COMMERZBANK Aktiengesellschaft,-296.24,-839.82,"-2,021.52","-3,157.58"
23,"Banco de Sabadell, S.A.",-356.88,-481.43,"-2,268.22","-3,106.54"
40,Coöperatieve Rabobank U.A.,-413.46,-600.98,"-1,946.01","-2,960.46"
92,Raiffeisen Bank International AG,-310.40,-969.69,"-1,531.42","-2,811.50"
87,OTP-csoport,-570.75,-621.75,"-1,374.14","-2,566.63"
12,BANCO BPM SOCIETA' PER AZIONI,-156.05,-250.75,"-2,119.23","-2,526.03"
37,Cassa Centrale Banca,-160.38,-392.90,"-1,956.04","-2,509.32"
64,KBC Groep,-152.07,-567.34,"-1,732.12","-2,451.54"
89,Powszechna Kasa Oszczednosci Bank Polski S.A.,-238.93,-815.12,"-1,241.63","-2,295.68"
35,"Caixa Geral de Depósitos, S.A.",-314.14,-670.76,"-1,222.15","-2,207.04"
44,"DZ BANK AG Deutsche Zentral-Genossenschaftsbank, Frankfurt am Main",-282.71,-517.42,"-1,261.67","-2,061.80"
17,Banca Monte dei Paschi di Siena S.p.A.,-99.21,-349.47,"-1,577.38","-2,026.06"
24,Bank Polska Kasa Opieki S.A.,-184.28,-258.69,"-1,578.90","-2,021.87"
16,BPER Banca S.p.A.,-214.58,-502.29,"-1,057.88","-1,774.74"
0,ABN AMRO Bank N.V.,-288.27,-321.26,"-1,164.02","-1,773.55"
31,Belfius Bank,-152.59,-369.14,"-1,197.68","-1,719.41"
79,Mediobanca - Banca di Credito Finanziario S.p.A.,-326.10,-379.52,-958.69,"-1,664.31"
2,AIB Group plc,-229.95,-698.34,-705.64,"-1,633.93"
83,Nordea Bank Abp,-214.45,-385.34,-987.76,"-1,587.55"
71,Landesbank Baden-Württemberg,-551.15,-395.18,-622.87,"-1,569.20"
20,"Banco Comercial Português, SA",-244.29,-272.26,"-1,030.26","-1,546.81"
50,Eurobank Ergasias Services and Holdings S.A.,-153.84,-333.43,"-1,059.31","-1,546.58"
45,Danske Bank A/S,-248.59,-761.42,-521.62,"-1,531.63"
70,La Banque Postale,-137.10,-530.78,-826.89,"-1,494.78"
109,Volkswagen Bank Gesellschaft mit beschränkter Haftung,-345.63,-484.68,-604.91,"-1,435.21"

In [38]:
# Create base table
idx_1 = result['Label'].isin(['Gross carrying amount: Financial assets at amortised cost, Loans and advances'])
idx_2 = result['Period'] == 202306

pivot_df = pd.pivot_table(result[idx_1 & idx_2], 
                          values='Amount', 
                          index=['Name'], 
                          columns=['ASSETS_Stages'], 
                          aggfunc="sum", 
                          margins=True,
                          fill_value=0).reset_index()

pivot_df.columns = pivot_df.columns.astype(str)
pivot_df['Stage_1_vs_Stage_2'] = pivot_df['2'] / pivot_df['1']

pivot_df.sort_values(by='All', ascending=False).head(40)

ASSETS_Stages,Name,1,2,3,All,Stage_1_vs_Stage_2
112,All,"13,788,690.65","1,411,158.98","333,903.79","15,533,753.42",0.10
53,Groupe Crédit Agricole,"1,138,802.13","111,480.18","25,153.91","1,275,436.22",0.10
21,"Banco Santander, S.A.","1,009,877.95","72,759.93","33,575.03","1,116,212.91",0.07
52,Groupe BPCE,"795,888.56","126,951.26","21,024.95","943,864.78",0.16
15,BNP Paribas,"831,092.50","70,675.02","25,926.28","927,693.80",0.09
39,Confédération Nationale du Crédit Mutuel,"645,056.14","40,543.74","15,388.53","700,988.41",0.06
59,ING Groep N.V.,"621,071.11","49,906.81","10,648.75","681,626.67",0.08
42,DEUTSCHE BANK AKTIENGESELLSCHAFT,"530,274.20","52,086.53","12,146.44","594,507.18",0.10
99,Société générale S.A.,"491,919.26","36,930.96","16,436.19","545,286.41",0.08
106,"UNICREDIT, SOCIETA' PER AZIONI","410,441.67","79,767.72","12,163.08","502,372.48",0.19
40,Coöperatieve Rabobank U.A.,"423,021.88","37,995.42","9,344.28","470,361.58",0.09
61,Intesa Sanpaolo S.p.A.,"415,679.59","38,631.11","10,148.18","464,458.88",0.09
19,"Banco Bilbao Vizcaya Argentaria, S.A.","359,233.69","32,043.24","13,792.06","405,068.99",0.09
36,"CaixaBank, S.A.","337,659.18","28,132.56","9,346.35","375,138.09",0.08
44,"DZ BANK AG Deutsche Zentral-Genossenschaftsbank, Frankfurt am Main","283,519.47","37,600.41","2,803.66","323,923.54",0.13
0,ABN AMRO Bank N.V.,"270,172.48","24,569.23","4,896.10","299,637.81",0.09
33,COMMERZBANK Aktiengesellschaft,"253,641.94","15,304.06","4,152.49","273,098.48",0.06
83,Nordea Bank Abp,"253,381.25","14,014.42","2,197.64","269,593.31",0.06
48,Erste Group Bank AG,"197,892.56","39,403.81","3,919.75","241,216.12",0.20
64,KBC Groep,"180,106.87","33,166.22","3,539.00","216,812.09",0.18
102,Svenska Handelsbanken - gruppen,"192,529.79","9,673.69",450.04,"202,653.52",0.05
71,Landesbank Baden-Württemberg,"178,922.29","19,874.09","1,443.78","200,240.16",0.11
70,La Banque Postale,"176,300.79","17,273.02","2,468.28","196,042.09",0.10
30,Bayerische Landesbank,"166,892.61","23,217.98","2,173.82","192,284.41",0.14
98,Skandinaviska Enskilda Banken - gruppen,"175,043.50","5,930.46",446.95,"181,420.92",0.03
43,DNB BANK ASA,"162,894.72","12,532.51","2,237.66","177,664.89",0.08
23,"Banco de Sabadell, S.A.","150,563.90","12,780.09","5,549.63","168,893.63",0.08
103,Swedbank - Grupp,"143,167.16","16,129.92",682.81,"159,979.90",0.11
72,Landesbank Hessen-Thüringen Girozentrale,"121,568.98","6,709.77","2,068.66","130,347.40",0.06
45,Danske Bank A/S,"112,810.05","11,848.68","1,701.36","126,360.09",0.11
92,Raiffeisen Bank International AG,"95,521.60","23,054.75","2,495.24","121,071.59",0.24
12,BANCO BPM SOCIETA' PER AZIONI,"96,107.21","11,596.53","4,155.19","111,858.92",0.12
31,Belfius Bank,"92,268.19","16,676.84","2,128.39","111,073.42",0.18
55,HSBC Continental Europe,"93,514.95","7,314.70","1,977.54","102,807.19",0.08
86,OP Osuuskunta,"82,349.39","13,578.44","2,624.20","98,552.03",0.16
58,ICCREA BANCA SPA,"83,250.33","6,945.82","4,182.74","94,378.89",0.08
14,BNG Bank N.V.,"91,237.15","2,220.67",700.87,"94,158.70",0.02
16,BPER Banca S.p.A.,"79,221.77","9,928.78","1,823.73","90,974.27",0.13
26,Bank of Ireland Group plc,"68,196.07","13,895.43","2,741.00","84,832.50",0.20
82,Norddeutsche Landesbank - Girozentrale -,"80,118.89","3,694.39",666.42,"84,479.70",0.05

### C. Compare IRB Shortfall

In [51]:
# Create base table
idx_1 = result['Period'] == 202306
idx_2 = result['Label'].isin(['(-) IRB shortfall of credit risk adjustments to expected losses'])
idx_3 = result['Label'].isin(['Accumulated impairment: Financial assets at amortised cost, Loans and advances'])
idx_4 = result['ASSETS_Stages'] = 3

pivot_df = pd.pivot_table(result[idx_1 & (idx_2 | (idx_3 & idx_4))], 
                          values='Amount', 
                          index=['Name'], 
                          columns=['Label'], 
                          aggfunc="sum", 
                          # margins=True,
                          fill_value=0).reset_index()

pivot_df.columns = pivot_df.columns.astype(str)
pivot_df['irb_shortfall_vs_stage_3_provisions'] = pivot_df['(-) IRB shortfall of credit risk adjustments to expected losses'] / pivot_df['Accumulated impairment: Financial assets at amortised cost, Loans and advances']

pivot_df.sort_values(by='Accumulated impairment: Financial assets at amortised cost, Loans and advances', ascending=True).head(40)

Label,Name,(-) IRB shortfall of credit risk adjustments to expected losses,"Accumulated impairment: Financial assets at amortised cost, Loans and advances",irb_shortfall_vs_stage_3_provisions
21,"Banco Santander, S.A.",-250.09,"-23,296.88",0.01
60,Groupe Crédit Agricole,-371.25,"-21,058.45",0.02
15,BNP Paribas,-478.67,"-17,798.22",0.03
59,Groupe BPCE,-191.32,"-14,022.15",0.01
44,Confédération Nationale du Crédit Mutuel,-381.31,"-11,354.26",0.03
19,"Banco Bilbao Vizcaya Argentaria, S.A.",-193.96,"-11,270.84",0.02
116,"UNICREDIT, SOCIETA' PER AZIONI",-6.75,"-11,046.49",0.00
109,Société générale S.A.,-359.58,"-10,667.59",0.03
68,Intesa Sanpaolo S.p.A.,-230.80,"-7,424.59",0.03
40,"CaixaBank, S.A.",0.00,"-7,151.07",-0.00
66,ING Groep N.V.,-123.19,"-5,673.38",0.02
48,DEUTSCHE BANK AKTIENGESELLSCHAFT,-508.63,"-5,081.73",0.10
54,Erste Group Bank AG,0.00,"-3,893.11",-0.00
65,ICCREA BANCA SPA,0.00,"-3,827.77",-0.00
37,COMMERZBANK Aktiengesellschaft,-204.21,"-3,157.58",0.06
23,"Banco de Sabadell, S.A.",-4.26,"-3,106.54",0.00
45,Coöperatieve Rabobank U.A.,-489.37,"-2,960.46",0.17
102,Raiffeisen Bank International AG,0.00,"-2,811.50",-0.00
97,OTP-csoport,0.00,"-2,566.63",-0.00
12,BANCO BPM SOCIETA' PER AZIONI,0.00,"-2,526.03",-0.00
41,Cassa Centrale Banca,0.00,"-2,509.32",-0.00
72,KBC Groep,0.00,"-2,451.54",-0.00
99,Powszechna Kasa Oszczednosci Bank Polski S.A.,0.00,"-2,295.68",-0.00
39,"Caixa Geral de Depósitos, S.A.",0.00,"-2,207.04",-0.00
50,"DZ BANK AG Deutsche Zentral-Genossenschaftsbank, Frankfurt am Main",-193.90,"-2,061.80",0.09
17,Banca Monte dei Paschi di Siena S.p.A.,0.00,"-2,026.06",-0.00
24,Bank Polska Kasa Opieki S.A.,0.00,"-2,021.87",-0.00
16,BPER Banca S.p.A.,0.00,"-1,774.74",-0.00
0,ABN AMRO Bank N.V.,-98.89,"-1,773.55",0.06
34,Belfius Bank,-1.46,"-1,719.41",0.00
87,Mediobanca - Banca di Credito Finanziario S.p.A.,0.00,"-1,664.31",-0.00
2,AIB Group plc,0.00,"-1,633.93",-0.00
93,Nordea Bank Abp,0.00,"-1,587.55",-0.00
79,Landesbank Baden-Württemberg,-6.21,"-1,569.20",0.00
20,"Banco Comercial Português, SA",0.00,"-1,546.81",-0.00
56,Eurobank Ergasias Services and Holdings S.A.,0.00,"-1,546.58",-0.00
51,Danske Bank A/S,0.00,"-1,531.63",-0.00
78,La Banque Postale,0.00,"-1,494.78",-0.00
119,Volkswagen Bank Gesellschaft mit beschränkter Haftung,0.00,"-1,435.21",-0.00
90,"National Bank of Greece, S.A.",0.00,"-1,428.46",-0.00